.card-container {
  gap: 12px;
  background-color: var(--F3-white);
  min-width: 260px;
  padding: 24px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid var(--5A-grey);
}

.buttons-container {
  padding: 0 8px;

  button {
    padding: 4px 12px;
    border-radius: 6px;
    border: 0;
  }

  .red {
    background-color: var(--red);
    color: var(--F3-white);
  }

  .red:hover {
    background-color: rgba($color: #f85d5d, $alpha: 0.3);
    color: var(--red);
  }

  .green {
    background-color: var(--green);
    color: var(--F3-white);
  }

  .green:hover {
    background-color: rgba($color: #3ec764, $alpha: 0.3);
    color: var(--green);
  }

  .blue {
    background-color: var(--primary);
    color: var(--F3-white);
  }

  .blue:hover {
    background-color: var(--primary-bg);
    color: var(--primary);
  }
}

.file-status {
  padding: 3px 1rem;
  margin-left: 8px;
  background-color: var(--F1-white);
  border-radius: 4px;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
}

.locked-status {
  color: var(--red);
}

.free-status {
  color: var(--green);
}

.yellow {
  background-color: var(--yellow);
  color: var(--F3-white);
}
.yellow:hover {
  background-color: var(--yellow-bg);
  color: var(--yellow);
}

.yellow:disabled {
  background-color: var(--D-grey);
  color: var(--3-black);
}


/* Style for the file input container */
.file-upload-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
}

/* Style for the file input */
.file-upload {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 20px; /* Set the font size as needed */
  cursor: pointer;
  z-index: 1;
}

/* Style for the "Choose File" button */
.upload-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--secondary); /* Set your desired background color */
  color: var(--F3-white); /* Set your desired text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for the file name display */
.file-name {
  display: inline-block;
  margin-left: 10px;

}

.dialog {
  position: fixed;
  top: 25vh;
  left: 30vw;
  width: 40vw;
  overflow: hidden;
  height: 50vh;
  background-color: var(--F3-white);
  padding: 2rem;
  border: 1px solid var(--4-black);
  border-radius: 6px;
  form {
    gap: 1rem;
    justify-content: center;
    display: flex;

    button {
      border-radius: 4px;
      padding: 6px 12px;
      margin: 0 1rem;
      background-color: var(--primary);
      color: var(--F3-white);
      border: 0;
    }

    .logout-button {
      background-color: var(--red);
      color: var(--F3-white);
    }
  }

  display: flex;
  justify-content: center;
}
