<section class="card-container d-flex flex-column">
  <h5 class="font-orbitron">
    {{ title }}
  </h5>
  <p class="font-jura">
    File Status:
    <b
      class="file-status"
      [ngClass]="content === 'free' ? 'free-status' : 'locked-status'"
      >{{ content }}</b
    >
  </p>

  <div class="d-flex buttons-container w-100 justify-content-evenly">
    <button *ngIf="content === 'free'" (click)="checkIn()" class="red">
      Lock
    </button>
    <button *ngIf="content === 'locked'" (click)="checkOut()" class="green">
      Free
    </button>
    <button
      class="yellow"
      (click)="showUpdateDialog()"
      [disabled]="content !== 'free'"
    >
      Update
    </button>
  </div>
  <div class="d-flex buttons-container w-100 justify-content-evenly">
    <button class="blue" (click)="download()">Download</button>
  </div>
</section>

<!-- Upload File -->
<div class="dialog" *ngIf="updateDialogOpen()">
  <form
    [formGroup]="updateFileForm"
    class="login-form d-flex flex-1 flex-column justify-content-center align-items-center"
  >
    <h3 class="font-jura">Choose A file To upload</h3>
    <!-- <input type="file" class="file-upload" (change)="onUpload($event)" /> -->
    <div class="file-upload-container">
      <input type="file" class="file-upload" (change)="onUpload($event)" />
      <button class="upload-button">Choose File</button>
      <span class="file-name">{{
        this.updateFileForm.controls['file'].value?.name
      }}</span>
    </div>

    <div class="d-flex w-100 justify-content-center gap-1rem">
      <button pButton pRipple class="logout-button" (click)="closeDialog()">
        Cancel
      </button>
      <button
        pButton
        pRipple
        (click)="submitFile()"
        [disabled]="!this.updateFileForm.valid"
      >
        Upload File
      </button>
    </div>
  </form>
</div>
