<div class="login-container d-flex w-100">
  <div class="d-flex justify-content-center align-items-center flex-1">
    <img src="assets/images/login/file.png" alt="" class="w-50" />
  </div>

  <form
    [formGroup]="this.signUpForm"
    class="login-form d-flex flex-1 flex-column justify-content-center align-items-center"
  >

  <!-- user name -->
  <div class="d-flex justify-content-center w-100">
    <span class="p-float-label p-input-icon-right input-field">
      <i class="pi pi-user"></i>
      <input pInputText id="username" formControlName="name" class="w-100" />
      <label htmlFor="username">Name</label>
    </span>
  </div>

    <!-- EMAIL INPUT -->
    <div class="d-flex justify-content-center w-100">
      <span class="p-float-label p-input-icon-right input-field">
        <i class="pi pi-envelope"></i>
        <input pInputText id="email" formControlName="email" class="w-100" />
        <label htmlFor="email">Email</label>
      </span>
    </div>

    <!-- Password Input -->
    <div class="d-flex justify-content-center w-100">
      <span class="p-float-label p-input-icon-right input-field">
        <i class="pi pi-lock"></i>
        <input
          pInputText
          id="password"
          type="password"
          formControlName="password"
          class="w-100"
        />
        <label htmlFor="password">Password</label>
      </span>
    </div>

    <!-- confirm Input -->
    <div class="d-flex justify-content-center w-100">
      <span class="p-float-label p-input-icon-right input-field">
        <i class="pi pi-lock"></i>
        <input
          pInputText
          id="confirm"
          type="password"
          formControlName="confirm"
          class="w-100"
        />
        <label htmlFor="confirm">Confirm Password</label>
      </span>
    </div>

    <!-- SUBMIT BUTTON -->
    <button pButton pRipple (click)="login()" [disabled]="!inputValid()">
      Sign Up
    </button>

    <span class="red-text font-jura" *ngIf="errorMessage()">{{
      errorMessage()
    }}</span>

    <a href="/auth">Already have an Account ? Go to Login</a>
  </form>
</div>
