.login-container {
  background-color: var(--login);
  height: 100vh;
}

.login-form {
  gap: 32px;
  height: 100%;
  flex: 1;
}

.input-field {
  width: 65%;
}

:host::ng-deep .p-button {
  border-radius: 6px;
}

.red-text {
  color: var(--red);
  font-weight: 900;
  font-size: 16px;
}
