<div class="d-flex flex-column w-100 height-100">
  <div class="navbar w-100 d-flex">
    <div class="flex-1 d-flex justify-content-end">
      <!-- <input type="checkbox" [(ngModel)]="selectionVisible" /> -->

      <button
        pButton
        pRipple
        class="create-group-button"
        (click)="bulkCheckOut()"
      >
        <i class="pi pi-lock-open"></i> Checkout All
      </button>

      <button
        pButton
        pRipple
        class="create-group-button"
      >
        <i class="pi pi-lock"></i> Bulk Check-in
      </button>

      <button pButton pRipple class="create-group-button" (click)="getLog()">
        <i class="pi pi-eye"></i> Show Changes
      </button>

      <button
        pButton
        pRipple
        class="create-group-button"
        (click)="showGroupDialog()"
      >
        <i class="pi pi-plus"></i> Create Group
      </button>

      <button
        pButton
        pRipple
        class="create-group-button"
        (click)="showGroupJoinDialog()"
      >
        <i class="pi pi-sign-in"></i> Join Group
      </button>

      <button pButton pRipple class="logout-button" (click)="logout()">
        Logout
      </button>
    </div>
  </div>

  <section class="home-container d-flex flex-column align-items-center">
    <div class="slider d-flex flex-column" *ngFor="let group of myGroups()">
      <div class="d-flex gap-1rem align-items-center">
        <p class="font-jura">{{ group.name }} Group files</p>
        <button
          class="group-file-upload"
          pButton
          pRipple
          (click)="showUploadDialog(group.id)"
        >
          Upload File
        </button>
      </div>

      <div class="d-flex inside-slider">
        <div *ngIf="group.files.length === 0">
          <p class="font-jura">This Group has no files!</p>
        </div>

        <sezar-source-card
          *ngFor="let file of group.files"
          [title]="file.name"
          [content]="file.status"
          (updateEvent)="updated()"
          [fileId]="file.id"
        />
      </div>
    </div>
  </section>
</div>

<!-- Create Group -->
<div class="dialog" *ngIf="groups()">
  <form
    [formGroup]="groupForm"
    class="login-form d-flex flex-1 flex-column justify-content-center align-items-center"
  >
    <h3 class="font-jura">Create Your own Group</h3>
    <div class="d-flex justify-content-center w-100">
      <span class="p-float-label p-input-icon-right input-field">
        <i class="pi pi-user"></i>
        <input pInputText id="name" formControlName="name" class="w-100" />
        <label htmlFor="name">Group Name</label>
      </span>
    </div>

    <div class="d-flex w-100 justify-content-center gap-1rem">
      <button pButton pRipple class="logout-button" (click)="closeDialog()">
        Cancel
      </button>
      <button
        pButton
        pRipple
        (click)="createGroup()"
        [disabled]="!this.groupForm.valid"
      >
        Create Group
      </button>
    </div>
  </form>
</div>

<!-- Join Group -->
<div class="dialog" *ngIf="joinGroups()">
  <form
    [formGroup]="joinGroupForm"
    class="login-form d-flex flex-1 flex-column justify-content-center align-items-center"
  >
    <h3 class="font-jura">Choose Group To Join</h3>
    <!-- <p-dropdown
      [options]="groupsList()"
      optionLabel="name"
      formControlName="joinControl"
    >
      <ng-template let-group pTemplate="item">
        <div class="w-100 d-flex flex-column">
          <span class="font-jura">{{ group.name }}</span>
        </div>
      </ng-template>
    </p-dropdown> -->
    <select formControlName="joinControl">
      <option
        *ngFor="let group of groupsList()"
        class="font-jura"
        [ngValue]="group"
      >
        {{ group.name }}
      </option>
    </select>

    <div class="d-flex w-100 justify-content-center gap-1rem">
      <button pButton pRipple class="logout-button" (click)="closeDialog()">
        Cancel
      </button>
      <button
        pButton
        pRipple
        (click)="joinGroup()"
        [disabled]="!this.joinGroupForm.valid"
      >
        Join Group
      </button>
    </div>
  </form>
</div>

<!-- Upload File -->
<div class="dialog" *ngIf="uploadDialogOpen()">
  <form
    [formGroup]="uploadFileForm"
    class="login-form d-flex flex-1 flex-column justify-content-center align-items-center"
  >
    <h3 class="font-jura">Choose A file To upload</h3>
    <!-- <input type="file" class="file-upload" (change)="onUpload($event)" /> -->
    <div class="file-upload-container">
      <input type="file" class="file-upload" (change)="onUpload($event)" />
      <button class="upload-button">Choose File</button>
      <span class="file-name">{{
        this.uploadFileForm.controls['file'].value?.name
      }}</span>
    </div>

    <br />

    <div class="d-flex justify-content-center w-100">
      <span class="p-float-label p-input-icon-right input-field">
        <i class="pi pi-file"></i>
        <input pInputText id="name" formControlName="fileName" class="w-100" />
        <label htmlFor="name">File Name</label>
      </span>
    </div>

    <div class="d-flex w-100 justify-content-center gap-1rem">
      <button pButton pRipple class="logout-button" (click)="closeDialog()">
        Cancel
      </button>
      <button
        pButton
        pRipple
        (click)="submitFile()"
        [disabled]="!this.uploadFileForm.valid"
      >
        Upload File
      </button>
    </div>
  </form>
</div>

<!-- Log dialog -->
<div class="log-dialog" *ngIf="logDialogOpen()">
  <form
    [formGroup]="uploadFileForm"
    class="login-form d-flex flex-1 flex-column justify-content-center align-items-center"
  >
    <h3 class="font-jura">Changes Log:</h3>

    <div class="w-100 d-flex flex-column align-items-start">
      <p *ngFor="let logItem of this.log()" class="log-item">
        User {{ logItem.user_id }}: {{ logItem.changes }} File at
        {{ logItem.updated_at | date: 'dd/MM/yyyy HH:mm:ss' }}
      </p>
    </div>

    <div class="d-flex w-100 justify-content-center gap-1rem">
      <button pButton pRipple class="logout-button" (click)="closeDialog()">
        Close
      </button>
    </div>
  </form>
</div>
