:host {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: block;
}

.home-container {
  gap: 2rem;
  flex: 1;
  margin-top: 3.5rem;
  padding: 20px;
  background-color: var(--D3-grey);
}

.slider {
  padding: 12px;
  width: 100%;
  gap: 1rem;
  background-color: var(--F2-grey-transparent);
  border-radius: 4px;
}

.height-100 {
  min-height: 100vh;
}

.inside-slider {
  gap: 1rem;
  padding: 12px;
  overflow: auto;
}

h5 {
  padding: 0 1rem;
  color: var(--4-black);
  font-weight: 650;
}

.navbar {
  height: 3.5rem;
  background-color: var(--F3-white);
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  border-bottom: 0.5px solid var(--3-black);
  border-right: 0.5px solid var(--3-black);
}

.logout-button {
  border-radius: 4px;
  padding: 6px 12px;
  margin: 0 1rem;
  background-color: var(--red);
  border: 0;
}

.create-group-button {
  border-radius: 4px;
  padding: 6px 12px;
  margin: 0 1rem;
  gap: 16px;
  background-color: var(--primary);
  border: 0;
}

.dialog {
  position: fixed;
  top: 25vh;
  left: 30vw;
  width: 40vw;
  height: 50vh;
  overflow: hidden;
  background-color: var(--F3-white);
  padding: 2rem;
  border: 1px solid var(--4-black);
  border-radius: 6px;
  form {
    gap: 1rem;
    justify-content: center;
    display: flex;

    button {
      border-radius: 4px;
      padding: 6px 12px;
      margin: 0 1rem;
      background-color: var(--primary);
      color: var(--F3-white);
      border: 0;
    }

    .logout-button {
      background-color: var(--red);
      color: var(--F3-white);
    }
  }

  display: flex;
  justify-content: center;
}

.log-dialog {
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  background-color: var(--F3-white);
  padding: 2rem;
  border: 1px solid var(--4-black);
  border-radius: 6px;
  overflow-y: auto;
}

.loader-container {
  height: 60vh;
}

.log-item {
  color: var(--4-black);
  font-weight: 400;
  text-align: start;
  padding-bottom: 8px;
}

select {
  padding: 1rem 0.5rem;
  border: 1px solid var(--D-grey);
  min-width: 300px;
  border-radius: 6px;

  option {
    padding: 8px 0;
    margin: 0;
    border-radius: 4px;
    border: 1px solid var(--D-grey);
  }
}

select:focus-visible {
  outline: 0;
}

.group-file-upload {
  border-radius: 4px;
  padding: 4px 12px;
  background-color: var(--accent);
  margin: 0 1rem;
  border: 0;
}

/* Style for the file input container */
.file-upload-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
}

/* Style for the file input */
.file-upload {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 20px; /* Set the font size as needed */
  cursor: pointer;
  z-index: 1;
}

/* Style for the "Choose File" button */
.upload-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--secondary); /* Set your desired background color */
  color: var(--F3-white); /* Set your desired text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for the file name display */
.file-name {
  display: inline-block;
  margin-left: 10px;
}
