$g-breakpoints: (
  XXSmall: '(max-width: 359.98px)',
  XSmall: '(min-width: 360px) and (max-width: 599.98px)',
  Small: '(min-width: 600px) and (max-width: 959.98px)',
  Medium: '(min-width: 960px) and (max-width: 1279.98px)',
  Large: '(min-width: 1280px) and (max-width: 1919.98px)',
  XLarge: '(min-width: 1920px)',
  Handset: '(max-width: 599.98px) and (orientation: portrait), ' +
    '(max-width: 959.98px) and (orientation: landscape)',
  Tablet:
    '(min-width: 600px) and (max-width: 839.98px) and (orientation: portrait), ' +
    '(min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape)',
  Web: '(min-width: 840px) and (orientation: portrait), ' +
    '(min-width: 1280px) and (orientation: landscape)',
  HandsetPortrait: '(max-width: 599.98px) and (orientation: portrait)',
  TabletPortrait:
    '(min-width: 600px) and (max-width: 839.98px) and (orientation: portrait)',
  WebPortrait: '(min-width: 840px) and (orientation: portrait)',
  HandsetLandscape: '(max-width: 959.98px) and (orientation: landscape)',
  TabletLandscape:
    '(min-width: 960px) and (max-width: 1279.98px) and (orientation: landscape)',
  WebLandscape: '(min-width: 1280px) and (orientation: landscape)',
) !default;

@mixin respond-to($breakpoints...) {
  // If the key exists in the map
  @each $breakpoint in $breakpoints {
    @if map-has-key($g-breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media #{map-get($g-breakpoints, $breakpoint)} {
        @content;
      }
    }

    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from #{$breakpoint}. "
              + "Available breakpoints are: #{map-keys($g-breakpoints)}.";
    }
  }
}

$g-phones: (
  'Moto G4': '(max-width: 360px) and (max-height: 640px)',
  'Pixel 2': '(max-width: 411px) and (max-height: 731px)',
  'Pixel 2 XL': '(max-width: 411px) and (max-height: 823px)',
  'iPhone 5/SE': '(max-width: 320px) and (max-height: 568px)',
  'iPhone 6/7/8': '(max-width: 375px) and (max-height: 667px)',
  'iPhone 6/7/8 Plus': '(max-width: 414px) and (max-height: 736px)',
  'iPhone X': '(max-width: 375px) and (max-height: 812px)',
  'iPad': '(min-width: 768px) and (min-height: 1024px)',
  'iPad Pro': '(min-width: 1024px) and (min-height: 1366px)',
);

@mixin like($phones...) {
  @each $phone in $phones {
    @if map-has-key($g-phones, $phone) {
      // Prints a media query based on the value
      @media #{map-get($g-phones, $phone)} {
        @content;
      }
    }

    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from #{$phone}. "
              + "Available phones are: #{map-keys($g-phones)}.";
    }
  }
}
