<div class="login-container d-flex w-100">
  <form
    [formGroup]="loginForm"
    class="login-form d-flex flex-1 flex-column justify-content-center align-items-center"
  >
    <!-- EMAIL INPUT -->
    <div class="d-flex justify-content-center w-100">
      <span class="p-float-label p-input-icon-right input-field">
        <i class="pi pi-envelope"></i>
        <input pInputText id="email" formControlName="email" class="w-100" />
        <label htmlFor="email">User Email</label>
      </span>
    </div>

    <!-- Password Input -->
    <div class="d-flex justify-content-center w-100">
      <span class="p-float-label p-input-icon-right input-field">
        <i class="pi pi-lock"></i>
        <input
          pInputText
          id="password"
          type="password"
          formControlName="password"
          class="w-100"
        />
        <label htmlFor="password">Password</label>
      </span>
    </div>

    <!-- SUBMIT BUTTON -->
    <button
      pButton
      pRipple
      (click)="login()"
      [disabled]="!this.loginForm.valid"
    >
      Login
    </button>

    <span class="red-text font-jura" *ngIf="errorMessage()">{{
      errorMessage()
    }}</span>

    <a href="/signup">Don't have an Account ? Go to Signup</a>
  </form>

  <div class="d-flex justify-content-center align-items-center flex-1">
    <img src="assets/images/login/file.png" alt="" class="w-50" />
  </div>
</div>
